In [7]:
import pandas as pd

df = pd.read_csv("data/astronauts.csv",delimiter=",")

In [8]:
df.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/1936,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN

In [9]:
len(df)

357

In [11]:
for name in df["Name"]:
    print(name)

Joseph M. Acaba
Loren W. Acton
James C. Adamson
Thomas D. Akers
Buzz Aldrin
Andrew M. Allen
Joseph P. Allen
Scott D. Altman
William A. Anders
Clayton C. Anderson
Michael P. Anderson
Dominic A. Antonelli
Jerome Apt III
Lee J. Archambault
Neil A. Armstrong
Richard R. Arnold II
Jeffrey S. Ashby
Serena M. Aunon
James P. Bagian
Ellen S. Baker
Michael A. Baker
Michael R. Barratt
Daniel T. Barry
John-David F. Bartoe
Charles A. Bassett II
Alan L. Bean
Robert L. Behnken
John E. Blaha
Michael J. Bloomfield
Guion S. Bluford Jr.
Karol J. Bobko
Eric A. Boe
Charles F. Bolden Jr.
Frank Borman
Stephen G. Bowen
Kenneth D. Bowersox
Charles E. Brady Jr.
Vance D. Brand
Daniel C. Brandenstein
Randolph J. Bresnik
Roy D. Bridges Jr.
Curtis L. Brown Jr.
David M. Brown
Mark N. Brown
James F. Buchli
Jay Clark Buckey
John S. Bull
Daniel C. Burbank
Daniel W. Bursch
Robert D. Cabana
Yvonne D. Cagle
Fernando Caldeiro
Tracy E. Caldwell (Dyson)
Charles J. Camarda
Kenneth D. Cameron
Duane G. Carey
M. Scott Carpenter
Gerald P. Carr
Manley Lanier Carter Jr.
John H. Casper
Christopher J. Cassidy
Robert Cenker
Eugene A. Cernan
Roger B. Chaffee
Gregory E. Chamitoff
Franklin R. Chang-Diaz
Philip K. Chapman
Kalpana Chawla
Leroy Chiao
Kevin P. Chilton
Laurel B. Clark
Mary L. Cleave
Michael R. Clifford
Michael L. Coats
Kenneth D. Cockrell
Catherine G. Coleman
Eileen M. Collins
Michael Collins
Charles Conrad Jr.
L. Gordon Cooper Jr.
Richard O. Covey
Timothy J. Creamer
John O. Creighton
Robert L. Crippen
Roger K. Crouch
Frank L. Culbertson Jr.
Walter Cunningham
Robert L. Curbeam Jr.
Nancy J. Currie
N. Jan Davis
Lawrence J. Delucas
Alvin B. Drew Jr.
Brian Duffy
Charles M. Duke Jr.
Bonnie J. Dunbar
Samuel T. Durrance
James P. Dutton Jr.
Joe F. Edwards Jr.
Donn F. Eisele
Anthony W. England
Joe H. Engle
Jeanette J. Epps
Ronald E. Evans Jr.
John M. Fabian
Christopher J. Ferguson
Martin J. Fettman
Andrew J. Feustel
E. Michael Fincke
Jack D. Fischer
Anna L. Fisher
William F. Fisher
C. Michael Foale
Kevin A. Ford
Michael J. Foreman
Patrick G. Forrester
Michael E. Fossum
Theodore C. Freeman
Stephen N. Frick
C. Gordon Fullerton
F. Andrew Gaffney
Ronald J. Garan Jr.
Dale A. Gardner
Guy S. Gardner
Jake Garn
Owen K. Garriott
Charles D. Gemar
Michael L. Gernhardt
Edward G. Gibson
Robert L. Gibson
Edward G. Givens Jr.
John H. Glenn Jr.
Linda M. Godwin
Michael T. Good
Richard F. Gordon Jr.
Dominic L. Gorie
Ronald J. Grabe
Duane E. Graveline
Frederick D. Gregory
William G. Gregory
S. David Griggs
Virgil I. Grissom
John M. Grunsfeld
Sidney M. Gutierrez
Fred W. Haise Jr.
James D. Halsell Jr.
Kenneth T. Ham
L. Blaine Hammond Jr.
Gregory J. Harbaugh
Bernard A. Harris Jr.
Terry J. Hart
Henry W. Hartsfield Jr.
Frederick H. Hauck
Steven A. Hawley
Susan J. Helms
Karl G. Henize
Thomas J. Hennen
Terence T. Henricks
Jose M. Hernandez
John B. Herrington
Richard J. Hieb
Joan E. Higginbotham
David C. Hilmers
Kathryn P. Hire
Charles O. Hobaugh
Jeffrey A. Hoffman
Donald L. Holmquest
Michael S. Hopkins
Scott J. Horowitz
Millie Hughes-Fulford
Douglas G. Hurley
Rick D. Husband
James B. Irwin
Marsha S. Ivins
Gregory B. Jarvis
Mae C. Jemison
Tamara E. Jernigan
Brent W. Jett
Gregory C. Johnson
Gregory H. Johnson
Thomas D. Jones
Janet L. Kavandi
James M. Kelly
Mark E. Kelly
Scott J. Kelly
Joseph P. Kerwin
Susan L. Kilrain (Still)
Robert Shane Kimbrough
Timothy L. Kopra
Kevin R. Kregel
Wendy B. Lawrence
Mark C. Lee
David C. Leestma
William B. Lenoir
Fred W. Leslie
Byron K. Lichtenberg
Don L. Lind
Kjell N. Lindgren
Steven W. Lindsey
Jerry M. Linenger
Richard M. Linnehan
Gregory T. Linteris
John A. Llewellyn
Paul S. Lockhart
Michael E. Lopez-Alegria
Christopher J. Loria
J. Mike Lounge
Jack R. Lousma
Stanley G. Love
James A. Lovell Jr.
G. David Low
Edward T. Lu
Shannon W. Lucid
Sandra H. Magnus
Thomas H. Marshburn
Michael J. Massimino
Richard A. Mastracchio
Thomas K. Mattingly II
K. Megan McArthur
William S. McArthur Jr.
S. Christa McAuliffe
Jon A. McBride
Bruce McCandless II
William C. McCool
Michael J. McCulley
James A. McDivitt
Donald R. McMonagle
Ronald E. McNair
Carl J. Meade
Bruce E. Melnick
Pamela A. Melroy
Leland D. Melvin
Dorothy M. Metcalf-Lindenberger
F. Curtis Michel
Edgar D. Mitchell
Barbara R. Morgan
Lee M. Morin
Richard M. Mullane
Story Musgrave
Steven R. Nagel
Bill Nelson
George D. Nelson
James H. Newman
Carlos I. Noriega
Lisa M. Nowak
Karen L. Nyberg
Bryan D. O'Connor
Brian T. O'Leary
Ellen Ochoa
William A. Oefelein
John D. Olivas
Ellison S. Onizuka
Stephen S. Oswald
Robert F. Overmyer
William A. Pailes
Scott E. Parazynski
Ronald A. Parise
Robert A. Parker
Niclolas J. M. Patrick
James A. Pawelczyk
Gary E. Payton
Donald H. Peterson
Donald R. Pettit
John L. Phillips
William R. Pogue
Alan G. Poindexter
Mark L. Polansky
Charles J. Precourt
William F. Readdy
Kenneth S. Reightler Jr.
James F. Reilly II
Garrett E. Reisman
Judith A. Resnik
Paul W. Richards
Richard N. Richards
Sally K. Ride
Patricia Hilliard Robertson
Stephen K. Robinson
Kent V. Rominger
Stuart A. Roosa
Jerry L. Ross
Kathleen Rubins
Mario Runco Jr.
Albert Sacco Jr.
Robert L. Satcher Jr.
Walter M. Schirra Jr.
Harrison H. Schmitt
Russell L. Schweickart
Francis R. Scobee
David R. Scott
Winston E. Scott
Paul D. Scully-Power
Richard A. Searfoss
Margaret Rhea Seddon
Elliot M. See Jr.
Ronald M. Sega
Piers J. Sellers
Brewster H. Shaw Jr.
Alan B. Shepard Jr.
William M. Shepherd
Loren J. Shriver
Donald K. Slayton
Michael J. Smith
Steven L. Smith
Sherwood C. Spring
Robert C. Springer
Thomas P. Stafford
Heidemarie M. Stefanyshyn-Piper
Robert L. Stewart
Nicole P. Stott
Frederick W. Sturckow
Kathryn D. Sullivan
Steven R. Swanson
John L. Swigert Jr.
Daniel M. Tani
Joseph R. Tanner
Norman E. Thagard
Andrew S. W. Thomas
Donald A. Thomas
Stephen D. Thorne
Kathryn C. Thornton
William E. Thornton
Pierre J. Thuot
Scott D. Tingle
Richard H. Truly
Lodewijk van den Berg
James D. van Hoften
Mark T. Vande Hei
Charles Lacy Veach
Terry W. Virts Jr.
James S. Voss
Janice E. Voss
Rex J. Walheim
Charles D. Walker
David M. Walker
Shannon Walker
Carl E. Walz
Taylor G. Wang
Mary E. Weber
Paul J. Weitz
James D. Wetherbee
Douglas H. Wheelock
Edward H. White II
Peggy A. Whitson
Terrence W. Wilcutt
Clifton C. Williams Jr.
Donald E. Williams
Jeffrey N. Williams
Sunita L. Williams
Barry E. Wilmore
Stephanie D. Wilson
G. Reid Wiseman
Peter J. K. Wisoff
David A. Wolf
Neil W. Woodward III
Alfred M. Worden
John W. Young
George D. Zamka

In [14]:
entry = df.iloc[0]
print(entry["Year"])

2004.0

In [16]:
df.iloc[-5:]

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
352,David A. Wolf,1990.0,13.0,Retired,8/23/1956,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaN,NaN
353,Neil W. Woodward III,1998.0,17.0,Retired,7/26/1962,"Chicago, IL",Male,MIT; University of Texas-Austin; George Washin...,Physics,Physics; Business Management,Commander,US Navy,0,0,0,0.0,NaN,NaN,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
355,John W. Young,1962.0,2.0,Retired,9/24/1930,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaN,NaN
356,George D. Zamka,1998.0,17.0,Retired,6/29/1962,"Jersey City, NJ",Male,US Naval Academy; Florida Institute of Technology,Mathematics,Engineering Management,Colonel,US Marine Corps (Retired),2,692,0,0.0,"STS-120 (Discovery), STS-130 (Endeavor)",NaN,NaN

In [17]:
df.iloc[5 : 10]

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
5,Andrew M. Allen,1987.0,12.0,Retired,8/4/1955,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaN,NaN
6,Joseph P. Allen,1967.0,6.0,Retired,6/27/1937,"Crawsfordsville, IN",Male,DePauw University; Yale University,Mathematics & Physics,Physics,NaN,NaN,2,313,2,12.0,"ST-5 (Columbia), STS 51-A (Discovery)",NaN,NaN
7,Scott D. Altman,1995.0,15.0,Retired,8/15/1959,"Lincoln, IL",Male,University of Illinois; US Naval Postgraduate ...,Aeronautical & Astronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),4,1236,0,0.0,"STS-90 (Columbia), STS-106 (Atlantis), STS-109...",NaN,NaN
8,William A. Anders,1963.0,3.0,Retired,10/17/1933,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,Apollo 8,NaN,NaN
9,Clayton C. Anderson,1998.0,17.0,Retired,2/23/1959,"Omaha, NE",Male,Hastings College; Iowa State University,Physics,Aerospace Engineering,NaN,NaN,2,4005,6,38.0,"STS-117/120 (Atlantis/Discovery), STS-131 (Dis...",NaN,NaN

In [23]:
for pos, d in df.iterrows():
    print(d["Year"])

2004.0
nan
1984.0
1987.0
1963.0
1987.0
1967.0
1995.0
1963.0
1998.0
1995.0
2000.0
1985.0
1998.0
1962.0
2004.0
1995.0
2009.0
1980.0
1984.0
1985.0
2000.0
1992.0
nan
1963.0
1963.0
2000.0
1980.0
1995.0
1978.0
1969.0
2000.0
1980.0
1962.0
2000.0
1987.0
1992.0
1966.0
1978.0
2004.0
1980.0
1987.0
1996.0
1984.0
1978.0
nan
1966.0
1996.0
1990.0
1985.0
1996.0
1996.0
1998.0
1996.0
1984.0
1996.0
1959.0
1966.0
1984.0
1984.0
2004.0
nan
1963.0
1963.0
1998.0
1980.0
1967.0
1995.0
1990.0
1987.0
1996.0
1980.0
1990.0
1978.0
1990.0
1992.0
1990.0
1963.0
1962.0
1959.0
1978.0
1998.0
1978.0
1969.0
nan
1984.0
1963.0
1995.0
1990.0
1987.0
nan
2000.0
1985.0
1966.0
1980.0
nan
2004.0
1995.0
1963.0
1967.0
1966.0
2009.0
1966.0
1978.0
1998.0
nan
2000.0
1996.0
2009.0
1978.0
1980.0
1987.0
2000.0
1998.0
1996.0
1998.0
1963.0
1996.0
1969.0
nan
2000.0
1978.0
1980.0
nan
1965.0
1985.0
1992.0
1965.0
1978.0
1966.0
1959.0
1985.0
2000.0
1963.0
1995.0
1980.0
1965.0
1978.0
1990.0
1978.0
1959.0
1992.0
1984.0
1966.0
1990.0
1998.0
1984.0
1987.0
1990.0
1978.0
1969.0
1978.0
1978.0
1990.0
1967.0
nan
1985.0
2004.0
1996.0
1985.0
1996.0
1980.0
1995.0
1996.0
1978.0
1967.0
2009.0
1992.0
nan
2000.0
1995.0
1966.0
1984.0
nan
1987.0
1985.0
1992.0
1998.0
1998.0
1990.0
1995.0
1996.0
1996.0
1996.0
1965.0
1995.0
2004.0
2000.0
1992.0
1992.0
1984.0
1980.0
1967.0
nan
nan
1966.0
2009.0
1995.0
1992.0
1992.0
nan
1967.0
1996.0
1992.0
1996.0
1980.0
1966.0
1998.0
1962.0
1984.0
1995.0
1978.0
1996.0
2004.0
1996.0
1996.0
1966.0
2000.0
1990.0
nan
1978.0
1966.0
1996.0
1984.0
1984.0
1987.0
1978.0
1985.0
1987.0
1995.0
1998.0
2004.0
1965.0
1966.0
1998.0
1996.0
1978.0
1967.0
1978.0
nan
1978.0
1990.0
1995.0
1996.0
2000.0
1980.0
1967.0
1990.0
1998.0
1998.0
1978.0
1985.0
1969.0
nan
1992.0
nan
1967.0
1998.0
nan
nan
1969.0
1996.0
1996.0
1966.0
1998.0
1996.0
1990.0
1987.0
1987.0
1995.0
1998.0
1978.0
1996.0
1980.0
1978.0
1998.0
1995.0
1992.0
1966.0
1980.0
2009.0
1987.0
nan
2004.0
1959.0
1965.0
1963.0
1978.0
1963.0
1992.0
nan
1990.0
1978.0
1962.0
1990.0
1996.0
1978.0
1959.0
1984.0
1978.0
1959.0
1980.0
1992.0
1980.0
1980.0
1962.0
1996.0
1978.0
2000.0
1995.0
1978.0
1998.0
1966.0
1996.0
1992.0
1978.0
1992.0
1990.0
1985.0
1984.0
1967.0
1985.0
2009.0
1969.0
nan
1978.0
2009.0
1984.0
2000.0
1987.0
1990.0
1996.0
nan
1978.0
2004.0
1990.0
nan
1992.0
1966.0
1984.0
1998.0
1962.0
1996.0
1990.0
1963.0
1978.0
1996.0
1998.0
2000.0
1996.0
2009.0
1990.0
1990.0
1998.0
1966.0
1962.0
1998.0

In [30]:
df2 = df[df["Year"] < 1990]
df3 = df2[df2["Gender"] == "Female"]
df3
print(len(df3))

15

In [34]:
df2 = df.sort_values("Name", ascending =False)
for name in df2["Name"]:
    print(name)

Yvonne D. Cagle
Winston E. Scott
William S. McArthur Jr.
William R. Pogue
William M. Shepherd
William G. Gregory
William F. Readdy
William F. Fisher
William E. Thornton
William C. McCool
William B. Lenoir
William A. Pailes
William A. Oefelein
William A. Anders
Wendy B. Lawrence
Walter M. Schirra Jr.
Walter Cunningham
Virgil I. Grissom
Vance D. Brand
Tracy E. Caldwell (Dyson)
Timothy L. Kopra
Timothy J. Creamer
Thomas P. Stafford
Thomas K. Mattingly II
Thomas J. Hennen
Thomas H. Marshburn
Thomas D. Jones
Thomas D. Akers
Theodore C. Freeman
Terry W. Virts Jr.
Terry J. Hart
Terrence W. Wilcutt
Terence T. Henricks
Taylor G. Wang
Tamara E. Jernigan
Susan L. Kilrain (Still)
Susan J. Helms
Sunita L. Williams
Stuart A. Roosa
Story Musgrave
Steven W. Lindsey
Steven R. Swanson
Steven R. Nagel
Steven L. Smith
Steven A. Hawley
Stephen S. Oswald
Stephen N. Frick
Stephen K. Robinson
Stephen G. Bowen
Stephen D. Thorne
Stephanie D. Wilson
Stanley G. Love
Sidney M. Gutierrez
Sherwood C. Spring
Shannon Walker
Shannon W. Lucid
Serena M. Aunon
Scott J. Kelly
Scott J. Horowitz
Scott E. Parazynski
Scott D. Tingle
Scott D. Altman
Sandra H. Magnus
Samuel T. Durrance
Sally K. Ride
S. David Griggs
S. Christa McAuliffe
Russell L. Schweickart
Roy D. Bridges Jr.
Ronald M. Sega
Ronald J. Grabe
Ronald J. Garan Jr.
Ronald E. McNair
Ronald E. Evans Jr.
Ronald A. Parise
Roger K. Crouch
Roger B. Chaffee
Robert Shane Kimbrough
Robert L. Stewart
Robert L. Satcher Jr.
Robert L. Gibson
Robert L. Curbeam Jr.
Robert L. Crippen
Robert L. Behnken
Robert F. Overmyer
Robert D. Cabana
Robert Cenker
Robert C. Springer
Robert A. Parker
Rick D. Husband
Richard R. Arnold II
Richard O. Covey
Richard N. Richards
Richard M. Mullane
Richard M. Linnehan
Richard J. Hieb
Richard H. Truly
Richard F. Gordon Jr.
Richard A. Searfoss
Richard A. Mastracchio
Rex J. Walheim
Randolph J. Bresnik
Piers J. Sellers
Pierre J. Thuot
Philip K. Chapman
Peter J. K. Wisoff
Peggy A. Whitson
Paul W. Richards
Paul S. Lockhart
Paul J. Weitz
Paul D. Scully-Power
Patrick G. Forrester
Patricia Hilliard Robertson
Pamela A. Melroy
Owen K. Garriott
Norman E. Thagard
Nicole P. Stott
Niclolas J. M. Patrick
Neil W. Woodward III
Neil A. Armstrong
Nancy J. Currie
N. Jan Davis
Millie Hughes-Fulford
Michael T. Good
Michael S. Hopkins
Michael R. Clifford
Michael R. Barratt
Michael P. Anderson
Michael L. Gernhardt
Michael L. Coats
Michael J. Smith
Michael J. McCulley
Michael J. Massimino
Michael J. Foreman
Michael J. Bloomfield
Michael E. Lopez-Alegria
Michael E. Fossum
Michael Collins
Michael A. Baker
Mary L. Cleave
Mary E. Weber
Martin J. Fettman
Marsha S. Ivins
Mark T. Vande Hei
Mark N. Brown
Mark L. Polansky
Mark E. Kelly
Mark C. Lee
Mario Runco Jr.
Margaret Rhea Seddon
Manley Lanier Carter Jr.
Mae C. Jemison
M. Scott Carpenter
Loren W. Acton
Loren J. Shriver
Lodewijk van den Berg
Lisa M. Nowak
Linda M. Godwin
Leroy Chiao
Leland D. Melvin
Lee M. Morin
Lee J. Archambault
Lawrence J. Delucas
Laurel B. Clark
L. Gordon Cooper Jr.
L. Blaine Hammond Jr.
Kjell N. Lindgren
Kevin R. Kregel
Kevin P. Chilton
Kevin A. Ford
Kent V. Rominger
Kenneth T. Ham
Kenneth S. Reightler Jr.
Kenneth D. Cockrell
Kenneth D. Cameron
Kenneth D. Bowersox
Kathryn P. Hire
Kathryn D. Sullivan
Kathryn C. Thornton
Kathleen Rubins
Karol J. Bobko
Karl G. Henize
Karen L. Nyberg
Kalpana Chawla
K. Megan McArthur
Judith A. Resnik
Joseph R. Tanner
Joseph P. Kerwin
Joseph P. Allen
Joseph M. Acaba
Jose M. Hernandez
Jon A. McBride
John-David F. Bartoe
John W. Young
John S. Bull
John O. Creighton
John M. Grunsfeld
John M. Fabian
John L. Swigert Jr.
John L. Phillips
John H. Glenn Jr.
John H. Casper
John E. Blaha
John D. Olivas
John B. Herrington
John A. Llewellyn
Joe H. Engle
Joe F. Edwards Jr.
Joan E. Higginbotham
Jerry M. Linenger
Jerry L. Ross
Jerome Apt III
Jeffrey S. Ashby
Jeffrey N. Williams
Jeffrey A. Hoffman
Jeanette J. Epps
Jay Clark Buckey
Janice E. Voss
Janet L. Kavandi
James S. Voss
James P. Dutton Jr.
James P. Bagian
James M. Kelly
James H. Newman
James F. Reilly II
James F. Buchli
James D. van Hoften
James D. Wetherbee
James D. Halsell Jr.
James C. Adamson
James B. Irwin
James A. Pawelczyk
James A. McDivitt
James A. Lovell Jr.
Jake Garn
Jack R. Lousma
Jack D. Fischer
J. Mike Lounge
Henry W. Hartsfield Jr.
Heidemarie M. Stefanyshyn-Piper
Harrison H. Schmitt
Guy S. Gardner
Guion S. Bluford Jr.
Gregory T. Linteris
Gregory J. Harbaugh
Gregory H. Johnson
Gregory E. Chamitoff
Gregory C. Johnson
Gregory B. Jarvis
Gerald P. Carr
George D. Zamka
George D. Nelson
Gary E. Payton
Garrett E. Reisman
G. Reid Wiseman
G. David Low
Frederick W. Sturckow
Frederick H. Hauck
Frederick D. Gregory
Fred W. Leslie
Fred W. Haise Jr.
Franklin R. Chang-Diaz
Frank L. Culbertson Jr.
Frank Borman
Francis R. Scobee
Fernando Caldeiro
F. Curtis Michel
F. Andrew Gaffney
Eugene A. Cernan
Eric A. Boe
Ellison S. Onizuka
Elliot M. See Jr.
Ellen S. Baker
Ellen Ochoa
Eileen M. Collins
Edward T. Lu
Edward H. White II
Edward G. Givens Jr.
Edward G. Gibson
Edgar D. Mitchell
E. Michael Fincke
Duane G. Carey
Duane E. Graveline
Douglas H. Wheelock
Douglas G. Hurley
Dorothy M. Metcalf-Lindenberger
Donn F. Eisele
Donald R. Pettit
Donald R. McMonagle
Donald L. Holmquest
Donald K. Slayton
Donald H. Peterson
Donald E. Williams
Donald A. Thomas
Don L. Lind
Dominic L. Gorie
Dominic A. Antonelli
David R. Scott
David M. Walker
David M. Brown
David C. Leestma
David C. Hilmers
David A. Wolf
Daniel W. Bursch
Daniel T. Barry
Daniel M. Tani
Daniel C. Burbank
Daniel C. Brandenstein
Dale A. Gardner
Curtis L. Brown Jr.
Clifton C. Williams Jr.
Clayton C. Anderson
Christopher J. Loria
Christopher J. Ferguson
Christopher J. Cassidy
Charles O. Hobaugh
Charles M. Duke Jr.
Charles Lacy Veach
Charles J. Precourt
Charles J. Camarda
Charles F. Bolden Jr.
Charles E. Brady Jr.
Charles D. Walker
Charles D. Gemar
Charles Conrad Jr.
Charles A. Bassett II
Catherine G. Coleman
Carlos I. Noriega
Carl J. Meade
Carl E. Walz
C. Michael Foale
C. Gordon Fullerton
Byron K. Lichtenberg
Buzz Aldrin
Bryan D. O'Connor
Bruce McCandless II
Bruce E. Melnick
Brian T. O'Leary
Brian Duffy
Brewster H. Shaw Jr.
Brent W. Jett
Bonnie J. Dunbar
Bill Nelson
Bernard A. Harris Jr.
Barry E. Wilmore
Barbara R. Morgan
Anthony W. England
Anna L. Fisher
Andrew S. W. Thomas
Andrew M. Allen
Andrew J. Feustel
Alvin B. Drew Jr.
Alfred M. Worden
Albert Sacco Jr.
Alan L. Bean
Alan G. Poindexter
Alan B. Shepard Jr.