In [1]:
print (5)

5

In [2]:
print (4 + 4)

8

In [3]:
print ((4 + 4) *  5)

40

In [4]:
a = 5
a = 6

In [5]:
print (a)

6

In [6]:
a = 5
b = 4

In [7]:
print (a + b)

9

In [8]:
average = (a + b) / 2

In [9]:
average

4.5

In [10]:
begrüßung = "Hallo"
name = "Max"
aktuell_alter = 30
next_jahr_alter = aktuell_alter + 1

In [16]:
print(begrüßung + " "  + name + " nechste jahr du bist :" + str(next_jahr_alter))

Hallo Max nechste jahr du bist :31

In [17]:
studenten = ["Max" , "Johanas", "David", "Christina"]

In [18]:
print (studenten)

['Max', 'Johanas', 'David', 'Christina']

In [19]:
print (studenten [0])

Max

In [20]:
beste_freunde = studenten[2] + studenten[3]

In [21]:
print(beste_freunde)

DavidChristina

In [22]:
neue_freund = "Bastian"

In [23]:
studenten.append[neue_freund]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [24]:
studenten.append(neue_freund)

In [25]:
print(studenten)

['Max', 'Johanas', 'David', 'Christina', 'Bastian']

In [26]:
studenten.pop()

'Bastian'

In [27]:
studenten

['Max', 'Johanas', 'David', 'Christina']

In [28]:
len(studenten)

4

In [29]:
a = "5"
b = "4"

In [30]:
a

'5'

In [31]:
b

'4'

In [32]:
print (a + b)

54

In [33]:
print (int(a) + int(b))

9

In [34]:
c = "7"

In [35]:
c = float(c)

In [36]:
c

7.0

In [37]:
c = 7.1

In [38]:
answere = a + b + c

TypeError: can only concatenate str (not "float") to str

In [39]:
a = int (a)

In [40]:
b = int (b)

In [41]:
x = a + b + c

In [42]:
x

16.1

In [43]:
studenten

['Max', 'Johanas', 'David', 'Christina']

In [44]:
print ("&".join(studenten))

Max&Johanas&David&Christina

In [47]:
"&".separate(studenten)

AttributeError: 'str' object has no attribute 'separate'

In [48]:
"&".splite(studenten)

AttributeError: 'str' object has no attribute 'splite'

In [49]:
s = " & ".join(studenten)

In [50]:
s

'Max & Johanas & David & Christina'

In [51]:
s = " & ".split(a)

TypeError: must be str or None, not int

In [52]:
a = " & ".split(stuenten)

NameError: name 'stuenten' is not defined

In [53]:
a = " & ".split(studenten)

TypeError: must be str or None, not list

In [54]:
a = " & ".split(s)

In [55]:
a

[' & ']

In [56]:
s

'Max & Johanas & David & Christina'

In [57]:
a = s.split(" & ")

In [58]:
a

['Max', 'Johanas', 'David', 'Christina']